<div class="form-group date-of-birth">
  <div class="form-group inline form-group-day">
      <label for="<%= locals[:id] %>Day" class="form-control-label">Day</label>
      <input type="text" class="form-control" pattern="[0-9]*" id="<%= locals[:id] %>Day" name="<%= locals[:id] %>Day">
  </div>
  <div class="form-group inline form-group-month">
      <label for="<%= locals[:id] %>Month" class="form-control-label">Month</label>
      <input type="text" class="form-control" id="<%= locals[:id] %>Month" name="<%= locals[:id] %>Month">
  </div>
  <div class="form-group inline form-group-year">
      <label for="<%= locals[:id] %>Year" class="form-control-label">Year</label>
      <input type="text" class="form-control" pattern="[0-9]*" id="<%= locals[:id] %>Year" name="<%= locals[:id] %>Year">
  </div>
</div>