---
layout: layout-full-width
---

<%

# CALCULATE TOTAL AREAS #

totalArea = 0
totalEligibleArea = 0
totalefaArea = 0

data.business.parcels.each do |f|

  # Add parcel areas
  totalArea += f.area
  if f.uses
    f.uses.each do |f|

      # Add BPS eligible areas
      if f.area
        totalEligibleArea += f.area if f.bps
      end

      # Calculate and add EFA areas
      if f.efa
        case f.efa
          when "hedge"
            efaArea = 10 * f.featureLength / 10000
          when "bufferStrip"
            efaArea = 9 * f.featureLength / 10000
          when "nitrogen"
            efaArea = 0.3 * f.area
          else
            efaArea = f.area
        end
        totalefaArea += efaArea
      end

    end
  end
end

efaTarget = ((totalefaArea / totalEligibleArea) * 100).round(2)

%>


<% content_for :breadcrumbs do %>
  <p id="breadcrumb"><a href="/bps-application/scheme-eligibility">Back to apply for basic payment scheme</a></p>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Ecological focus areas (EFAs)</h1>
    </hgroup>
  </header>

  <h2 class="heading-medium"><%= efaTarget.round(2) %>% of your arable land qualifies as an ecological focus area.</h2>

<% if efaTarget < 5 %>
  <p class="text"><span class="visuallyhidden">SitiAgri g14</span>Based on the information you've given us, you don't meet EFA rules because you need to show more Ecological Focus Area.</p>
  
  <p class="text">You need another <%= 5 - efaTarget.round(2) %>% EFAs before you meet the greening requirement.</p>
  <p class="text"><a href="/land">Add more EFAs to your land</a>.</p>
<% else %>
  <p class="text"><span class="visuallyhidden">SitiAgri g5</span>Based on the information you've given us, you meet the Ecological Focus Area rules.</p>
  <p class="text"><span class="visuallyhidden">You meet the greening requirement of having at least 5% EFAs.</span></p>
  <p class="text"><a href="/land">Add more EFAs to your land</a>.</p>
<% end %>



  <h2 class="heading-medium">Check your ecological focus areas</h2>

  <p class="text">
    Deselect features or land uses that you're already using to claim from other schemes.
  </p>


  <form class="" method="post" action="/">

  <table class="efa-table">
    <thead>
      <tr>
        <th class="parcel">Parcel</th>
        <th class="feature">Ecological focus area (EFA)</th>
        <th class="feature-length numeric">Length (m)</th>
        <th class="feature-area numeric">Area (ha)</th>
        <!--
        <th class="efa-length numeric">EFA length (m)</th>
      -->
        <th class="efa-area numeric">EFA area (ha)</th>
      </tr>
    </thead>
    <tbody>

      <%
      data.business.parcels.each do |p|

          numEFAs = 0
          if p.uses
            p.uses.each do |u|
              numEFAs += 1 if u.efa
            end
          end

          if numEFAs > 0
            efaNum = 1
            p.uses.each do |u|
              if u.efa
      %>

      <tr class="highlight">

        <% if efaNum == 1 %>
        <th rowspan="<%= numEFAs %>" scope="row" class="parcel-name">
          <%= (p.name ? p.name : "Untitled") %><br />
          <span class="parcel-ref"><%= p.id %></span>
        </th>
        <% end %>

        <td><label><input type="checkbox" checked class="feature-selected js-select-row">

          <%= u.use %>

        </label></td>
        <td class="numeric">
          <%= (u.featureLength ? u.featureLength : "n/a") %>
        </td>
        <td class="numeric">
          <%= (u.area ? u.area : "n/a") %>
        </td>
        <!--
        <td class="numeric">
          <% if u.featureLength %>
          <input type="text" class="form-control" size=5 value="<%= u.featureLength %>">
          <% else %>
            n/a
          <% end %>
        </td>
      -->
        <td class="efa-area numeric">

          <%
            case u.efa
              when "hedge"
                efaArea = 10 * u.featureLength / 10000
              when "bufferStrip"
                efaArea = 9 * u.featureLength / 10000
              when "nitrogen"
                efaArea = 0.3 * u.area
              else
                efaArea = u.area
            end
          %>
          <%= efaArea.round(2) %>

        </td>
      </tr>
      <%

              efaNum +=1
            end
          end
        end
      end
      %>

      <tr class="total">
        <th class="numeric" colspan=4>Total EFA area:</th>
        <td class="efa-area numeric">
          <div id="efa-percent" class="bold-medium js-hidden"><%= efaTarget.round(2) %>%</div>
          <span id="calculate">
            <span class="calculate-button js-toggle" data-hide="#calculate" data-show="#efa-percent">Update total</span>
          </span>
        </td>
      </tr>

    </tbody>
  </table>

  </form>


<p><a href="" class="button">Save changes</a></p>

<% end %>

<% content_for :column2 do %>

<% end %>
