---
layout: layout-full-width
---

<%

# Calculate totals
max_eligibile_area = 0
total_area = 0
max_activated_area = 0

data.land_table_2.parcels.each do |parcel|
  max_eligibile_area += parcel.eligible_area.to_f
  total_area+= parcel.area.to_f

  parcel.uses.each do |use|
    max_activated_area += use.area.to_f
  end
end

%>


<% content_for :breadcrumbs do %>
  <p id="breadcrumb"><a href="/bps-application/application-summary">Back to application summary</a></p>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Activate your entitlements</h1>
    </hgroup>
  </header>

  <p class="text lede">
    Use the table to set the activated area for each land parcel.
  </p>

  <%
    new_cph = ""

    data.land_table_2.parcels.each_with_index do |parcel, j|

    _parcel_id = parcel.id.gsub(/\s+/, "").downcase
    if (parcel.cph != new_cph) then
  %>
    <!-- Start CPH -->
    <h3 class="heading-medium">
      CPH: <%= parcel.cph %>
      <div class="font-small">Non-severely disadvantaged area</div>
    </h3>
  <%
    end
    new_cph = parcel.cph;
    # count uses
    _use_count = parcel.uses.length

    activated_area = 0

    parcel.uses.each_with_index do |land_use, i|

      if land_use.eligible == "y"
        activated_area += land_use.area
      end

      if j == 0 && i == 0 then
  %>

  <table class="form-table land-table-3">
    <thead>

      <tr>
        <th class="parcel-name">Parcel</th>
        <th class="parcel-ref">ID</th>
        <th class="parcel-area">Parcel size (ha)</th>
        <th>Eligible area (ha)<br>
            verified by RPA
        </th>
        <th>Eligible area (ha)<br>
            proposed by you
        </th>
        <th class="activated-area last">Activated area (ha)</th>
      </tr>
    </thead>

    <tbody>
    <% end %>
      <!-- Start Parcel -->




      <% if i == 0 then %>
      <tr class="parcel-row <% if parcel.warning %>warning<% end %>">

        <th><%= parcel.name %></th>
        <td class="parcel-ref"><%= parcel.id %></td>
        <td class=""><%= sprintf('%.2f', parcel.area.to_f) %></td>
        <td class="eligible-area-1"><%= sprintf('%.2f', parcel.eligible_area.to_f) %></td>
        <td class="eligible-area-2">
<!--
          <%= parcel.warning %>
        -->

        <%= sprintf('%.2f', activated_area.to_f) %>

        </td>
        <td class="last">
          <input class="form-control<% if parcel.warning %> form-control-error<% end %>" type="text" size="5" value="<%= sprintf('%.2f', activated_area.to_f) %>">&nbsp;

          <span href="" class="link-style js-toggle show-<%= _parcel_id %>" data-show=".hide-<%= _parcel_id %>, .for-parcel-<%= _parcel_id %>" data-hide=".show-<%= _parcel_id %>">Show land uses</span>

          <span href="" class="link-style hide-<%= _parcel_id %> js-toggle js-hidden" data-show=".show-<%= _parcel_id %>" data-hide=".for-parcel-<%= _parcel_id %>, .hide-<%= _parcel_id %>" >Hide land uses</span>

        </td>
      </tr>

      <tr class="land-use-row for-parcel-<%= _parcel_id %> js-hidden first-row">
        <td colspan="3"></td>
        <th colspan="2">
         Land use
        </th>
        <th>Area (ha)</th>
      </tr>
      <% end %>

      <tr class="land-use-row for-parcel-<%= _parcel_id %> js-hidden <% if i == _use_count - 1 %> last-row<% end %>">
        <td colspan="3"></td>
        <td colspan="2">
         <%= land_use.use %> <% if land_use.eligible == "n" %>(ineligible)<% else %><% end %>
        </td>
        <td class="decimal">
          <%= sprintf('%.2f', land_use.area.to_f) %>
        </td>
      </tr>




      <% end %>


      <% end %>
    </tbody>
  </table>

  <h3 class="heading-medium">Totals</h3>

  <table class="summary-land-entitlements">
    <thead>
      <tr>
        <th class="region">Region</th>
        <th class="total-area ">Total area (ha)</th>
        <th class="eligible-area ">Activated area (ha)</th>
        <th class="total-entitlements ">Total entitlements</th>
        <th class="activated-entitlements ">Activated entitlements</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Non-severely disadvantaged area (Non-SDA)</td>
        <td class=""><%= sprintf('%.2f', total_area) %></td>
        <td class=""><%= sprintf('%.2f', max_eligibile_area) %></td>
        <td class=""><%= sprintf('%.2f', max_activated_area) %></td>
        <td class="" id="active-entitlements-total"><%= sprintf('%.2f', max_eligibile_area) %></td>
      </tr>
      <!--
      <tr>
        <td>Severely disadvantaged area (SDA)</td>
        <td class="">0.0</td>
        <td class="">0.0</td>
        <td class="">0.0</td>
        <td class="" id="active-entitlements-total">0.0</td>
      </tr>
      <tr>
        <td>Mooreland</td>
        <td class="">0.0</td>
        <td class="">0.0</td>
        <td class="">0.0</td>
        <td class="" id="active-entitlements-total">0.0</td>
      </tr>
      <tr class="total">
        <td colspan="4" class=""></td>
        <td class="bold-medium"><%= sprintf('%.2f', max_eligibile_area) %></td>
      </tr>
    -->
    </tbody>
  </table>


  <p><a href="/bps-application/application-summary" class="button">Save changes</a></p>

<% end %>