---
layout: layout-full-width
---

<%

# Calculate totals
max_eligibile_area = 0
total_area = 0
max_activated_area = 0

data.land_table_2.parcels.each do |parcel|
  max_eligibile_area += parcel.eligible_area.to_f
  total_area+= parcel.area.to_f

  parcel.uses.each do |use|
    max_activated_area += use.area.to_f
  end
end

%>


<% content_for :breadcrumbs do %>
  <p id="breadcrumb"><a href="/bps-application/application-summary">Back to application summary</a></p>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Activate your entitlements</h1>
    </hgroup>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>The table shows your parcel size, as well as the amount of eligible land currently confirmed by the RPA.</p>

      <p>Changes that haven't been verified (digitized) by the RPA won't be counted in the confirmed eligible area.</p>
5
    </div>
  </div>

  <%
    new_cph = ""

    data.land_table_2.parcels.each_with_index do |parcel, j|

    _parcel_id = parcel.id.gsub(/\s+/, "").downcase
    if (parcel.cph != new_cph) then
  %>
    <!-- Start CPH -->
    <h3 class="heading-medium">CPH <%= parcel.cph %></h3>
  <%
    end
    new_cph = parcel.cph;
    # count uses
    _use_count = parcel.uses.length

    activated_area = 0

    parcel.uses.each_with_index do |land_use, i|

      if land_use.eligible == "y"
        activated_area += land_use.area
      end

      if j == 0 && i == 0 then
  %>

  <table class="land-table">
    <thead>
      <tr>
        <th class="parcel-name">Parcel name</th>
        <th class="parcel-ref">Parcel ID</th>
        <th class="land-use">Land use</th>
        <th class="land-area numeric">Area (<abbr title="hectares">ha</abbr>)</th>
        <th class="notes">Notes</th>
        <th class="active-entitlements numeric">&nbsp;</th>
        <th class="edit">&nbsp;</th>
      </tr>
    </thead>

    <tbody>
    <% end %>
      <!-- Start Parcel -->
      <tr id="parcel-<%= _parcel_id %>-<%= i %>"<% if land_use.eligible == "n" %> class="ineligible"<% end %>>
        <% if i == 0 then %>
        <th rowspan="<%= _use_count + 2 %>" scope="row" class="parcel-name">
          <%= parcel.name %>
        </th>
        <td rowspan="<%= _use_count + 2 %>" class="parcel-ref"><%= parcel.id %></td>
        <% end %>
        <td><%= land_use.use %></td>
        <td class="numeric"><%= sprintf('%.2f', land_use.area.to_f) %></td>
        <td><% if land_use.eligible == "n" %>Ineligible for BPS<% else %>&nbsp;<% end %></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <% end %>
      <tr class="total">
        <th id="parcel-<%= _parcel_id %>-total">Parcel size</th>
        <td class="numeric"><%= sprintf('%.2f', parcel.area.to_f) %></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="total">
        <th id="parcel-<%= _parcel_id %>-total-eligible-area">Confirmed eligible area</th>
        <td class="numeric" headers="parcel-<%= _parcel_id %>-total"><%= sprintf('%.2f', parcel.eligible_area.to_f) %></td>
        <th id="parcel-<%= _parcel_id %>-activated">Activated area (ha)</th>
        <td class="numeric" headers="parcel-<%= _parcel_id %>-activated">
          <span class="js-entitlements-display" id="parcel-<%= _parcel_id %>-display"><%= sprintf('%.2f', activated_area.to_f) %></span>
          <input class="form-control js-entitlements-input js-hidden" type="text" value="<%= sprintf('%.2f', activated_area.to_f) %>" id="parcel-<%= _parcel_id %>-input" />
        </td>
        <td><a href="#" class="js-toggle-entitlements active-entitlements-edit" data-toggle="show">Edit</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <h3 class="heading-medium">Total</h3>

  <table class="summary-land-entitlements">
    <thead>
      <tr>
        <th class="region">Region</th>
        <th class="total-area numeric">Total area (ha)</th>
        <th class="eligible-area numeric">Eligible area (ha)</th>
        <th class="total-entitlements numeric">Total entitlements</th>
        <th class="activated-entitlements numeric">Activated entitlements</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Non-severely disadvantaged area (Non-SDA)</th>
        <td class="numeric"><%= sprintf('%.2f', total_area) %></td>
        <td class="numeric"><%= sprintf('%.2f', max_eligibile_area) %></td>
        <td class="numeric"><%= sprintf('%.2f', max_activated_area) %></td>
        <td class="numeric" id="active-entitlements-total"><%= sprintf('%.2f', max_activated_area) %></td>
      </tr>
    </tbody>
  </table>

  <p><a href="/bps-application/application-summary" class="button">Save</a></p>

<% end %>