---
title: Rural payments prototype
layout: layout_template_no_nav
---

<% parcel = locals[:parcel] %>

<div class="inner-block">

  <div id="breadcrumb">
    <ol role="breadcrumbs" class="group">
      <li><a href="/business"><%= data.business.name %></a></li>
    </ol>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h1 class="editable" contenteditable><%= parcel.name ? parcel.name : "Untitled" %></h1>
          </hgroup>

          <dl class="metadata">
            <dt class="visuallyhidden">Area</dt>
            <dd>Area: <%= parcel.area %>ha</dd>
            <dt class="visuallyhidden">Parcel ID</dt>
            <dd>ID: <%= parcel.id %></dd>
            <dd>Not organic</dd>
          </dl>
          <a class="edit-organic-status" href="<%= parcel.id %>/organic-status">Edit <span class="visuallyhidden">organic status</span></a>
        </header>

        <table class="parcel-details js-row-link">
          <thead>
            <tr>
              <th class="details-land-use">Land use</th>
              <th class="details-area">Area</th>
              <th class="detail-status"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="details-land-use">Crops and grassland</td>
              <td class="details-area">2.2ha</td>
              <td class="edit"><a href="<%= parcel.id %>/crops-and-grassland">Edit</a></td>
            </tr>
            <tr>
              <td class="details-land-use">Buffer strips</td>
              <td class="details-area">0.50ha</td>
              <td class="edit"><a href="<%= parcel.id %>/buffer-strips">Edit</a></td>
            </tr>
            <tr>
              <td class="details-land-use">Hedges</td>
              <td class="details-area">0.1ha</td>
              <td class="edit"><a href="<%= parcel.id %>/hedges">Edit</a></td>
            </tr>
            <tr>
              <td class="details-land-use">Buildings and structures</td>
              <td class="details-area">0.1ha</td>
              <td class="edit"><a href="<%= parcel.id %>/buildings-and-structures">Edit</a></td>
            </tr>
            <tr>
              <td class="details-land-use">Other features</td>
              <td class="details-area">0.00ha</td>
              <td class="edit"><a href="<%= parcel.id %>/other-features">Edit</a></td>
            </tr>
            <tr>
              <td class="details-land-use">Unknown</td>
              <td class="details-area">0.03ha <span class="percentage">4%</span></td>
              <td class="edit"></td>
            </tr>
          </tbody>
        </table>

        <form>
          <div class="form-group">
            <a href="/" class="button">Check another parcel</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-map-parcel" %>
  </div>
</div>

