---
layout: layout-2-1-columns
---


<% statusClass = (parcel.coverage == 100 ? "done" : "not-done") %>

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-land" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="editable" contenteditable><%= parcel.name ? parcel.name : "Untitled" %></h1>
    </hgroup>
  </header>

  <p>
    All land parcels must have 100% coverage before you can apply for schemes.
    Select a feature below to edit it, or <a href="/<%= parcel.id %>/add-feature">add missing features</a>.
  </p>

  <table class="features xjs-row-link">
    <thead>
      <tr>
        <th class="name">Feature</th>
        <th class="area">Area</th>
        <th class="coverage">Coverage</th>
        <th class="delete"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/arable">Arable land</a></td>
        <td class="area unknown">Unknown</td>
        <td class="coverage unknown">Unknown</td>
        <td class="delete"><a href="/<%= parcel.id %>/delete-feature" title="Remove this feature">✕</a></td>
      </tr>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/buffer-strips">Buffer strips</a></td>
        <td class="area unknown">Unknown</td>
        <td class="coverage unknown">Unknown</td>
        <td class="delete"><a href="/<%= parcel.id %>/delete-feature" title="Remove this feature">✕</a></td>
      </tr>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/hedges">Hedges</a></td>
        <td class="area unknown">Unknown</td>
        <td class="coverage unknown">Unknown</td>
        <td class="delete"><a href="/<%= parcel.id %>/delete-feature" title="Remove this feature">✕</a></td>
      </tr>
      <tr>
        <td class="name"><a href="">Pond</a></td>
        <td class="area">0.4ha</td>
        <td class="coverage"><span class="tag"><%= parcel.coverage %>%</span></td>
        <td class="delete"><a href="/<%= parcel.id %>/delete-feature" title="Remove this feature">✕</a></td>
      </tr>
      <tr class="totals <%= statusClass %>">
        <td class="name">Total</td>
        <td class="area">0.4ha</td>
        <td class="coverage"><span class="tag"><%= parcel.coverage %>%</span></td>
        <td>
      </tr>
    </tbody>
  </table>

  <p><a href="/<%= parcel.id %>/add-feature">Add a feature</a></p>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Total area: <%= parcel.area %>ha</li>
      <% if (parcel.organic) %><li>Certified organic</li><% end %>
    </ul>

    <ul>
      <li><a href="<%= parcel.id %>/organic-status">Change the organic status of the parcel</a></li>
      <li><a href="<%= parcel.id %>/change-land-parcel">Merge, split or change the parcel boundary</a></li>
      <li><a href="<%= parcel.id %>/change-land-parcel">Transfer the parcel to someone else</a></li>
      <li><a href="<%= parcel.id %>/change-land-parcel">Remove the parcel</a></li>
    </ul>
  </div>

<% end %>

