---
title: Rural payments prototype
layout: layout_template_no_nav
---

<% parcel = locals[:parcel] %>

<div class="inner-block">

  <div id="breadcrumb">
    <ol role="breadcrumbs" class="group">
      <li><a href="/"><%= data.business.name %></a></li>
    </ol>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h1 class="editable" contenteditable><%= parcel.name ? parcel.name : "Untitled" %></h1>
          </hgroup>

          <dl class="metadata">
            <dt class="visuallyhidden">Area</dt>
            <dd>Area: <%= parcel.area %>ha</dd>
            <dt class="visuallyhidden">Parcel ID</dt>
            <dd>ID: <%= parcel.id %></dd>
            <dd>Not organic</dd>
          </dl>
        </header>

        <!--<p class="alert">Reduce your unknown land use to below 20%</p>-->

        <table class="parcel-details">
          <thead>
            <tr>
              <th class="details-land-use">Land use</th>
              <th class="details-area">Area</th>
              <th class="detail-status"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="details-land-use">Crops and grassland</td>
              <td class="details-area">0.00ha</td>
              <td class="edit"></td>
            </tr>
            <tr>
              <td class="details-land-use">Buffer strips</td>
              <td class="details-area">0.00ha</td>
              <td class="edit"></td>
            </tr>
            <tr>
              <td class="details-land-use">Hedges</td>
              <td class="details-area">0.00ha</td>
              <td class="edit"></td>
            </tr>
            <tr>
              <td class="details-land-use">Buildings and structures</td>
              <td class="details-area">0.00ha</td>
              <td class="edit"></td>
            </tr>
            <tr>
              <td class="details-land-use">Other features</td>
              <td class="details-area">0.00ha</td>
              <td class="edit"></td>
            </tr>
            <tr>
              <td class="details-land-use">Unknown</td>
              <td class="details-area"><%= parcel.area %>ha <span class="percentage">100%</span></td>
              <td class="edit"></td>
            </tr>
          </tbody>
        </table>

        <form>
          <div class="form-group">
            <a href="<%= parcel.id %>/organic-status" class="button">Check this land parcel</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-map-parcel" %>
  </div>
</div>

