---
layout: layout-2-1-columns
---


<% statusClass = (parcel.coverage == 100 ? "done" : "not-done") %>

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-land" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="editable" contenteditable><%= parcel.name ? parcel.name : "Untitled" %></h1>
    </hgroup>
  </header>

  <p>
    List the features on this land parcel. <a href="#help-features" class="js-toggle">Find out what to include</a>.
  </p>

  <div class="js-hidden panel-indent" id="help-features">
    <h3 class="bold-xsmall">What features should you include?</h3>
    <p class="font-xsmall">
      100% of the area of the parcel must be defined before you can apply for schemes.
      You need to include things like crops, buildings, buffer strips, hedges, trees and water.
    </p>
  </div>


  <table class="features">
    <thead>
      <tr>
        <th class="name">Feature</th>
        <th class="cover">Eligibility</th>
        <th class="area">Area</th>
        <th class="delete"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/edit-feature?land-use=Pond&land-use-type=shape">Pond</a></td>
        <td class="cover"><abbr>BPS</abbr>, <abbr>EFA</abbr></td>
        <td class="area">0.1ha</td>
        <td class="delete"><a href="/<%= parcel.id %>/remove-feature?land-use=Pond&land-use-type=shape" title="Remove this feature">Remove</a></td>
      </tr>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/edit-feature?land-use=Mixed+woodland&land-use-type=shape">Mixed woodland</a></td>
        <td class="cover"><abbr>BPS</abbr></td>
        <td class="area">0.1ha</td>
        <td class="delete"><a href="/<%= parcel.id %>/remove-feature?land-use=Mixed+woodland" title="Remove this feature">Remove</a></td>
      </tr>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/land-use">Undefined arable land</a></td>
        <td class="cover"><abbr>BPS</abbr></td>
        <td class="area">5.75ha</td>
        <td class="delete"><a href="/<%= parcel.id %>/remove-feature?land-use=Undefined+arable+land" title="Remove this feature">Remove</a></td>
      </tr>
      <tr class="totals">
        <td class="name" colspan="2">Total area of parcel</td>
        <td class="area">8.05ha</td>
        <td class="delete"></td>
      </tr>
      <tr>
        <td class="name" colspan="2">Total area of features</td>
        <td class="area">5.95ha</td>
        <td class="delete"></td>
      </tr>
    </tbody>
  </table>

  <div class="feature-footer">
      <div class="percent-complete">
        <span>78%</span> complete
      </div>
      <div class="add-feature-link">
        <div>
          <a href="/<%= parcel.id %>/add-feature">Add a feature</a>
        </div>
      </div>
  </div>



  <div class="form-group">
    <a href="/land" class="button">Save and return</a>
  </div>


<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map map-parcel">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel-with-features.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Status: <a class="js-toggle parcel-status-link" href="#status-help-draft">Unverified</a>
        <p class="js-hidden" id="status-help-draft">
          This parcel has unverified changes.
          Save the parcel to submit the changes to the Rural Payments Agency for verification.
        </p>
      </li>
      <% if (parcel.organic) %><li>Certified organic</li><% end %>
    </ul>

    <ul>
      <li><a href="/<%= parcel.id %>/organic-status">Change the organic status of the parcel</a></li>
      <li><a href="/<%= parcel.id %>/change-land-parcel">Transfer the parcel to someone else</a></li>
      <li><a href="/<%= parcel.id %>/split-parcel">Split the parcel in two</a></li>
      <li><a href="/<%= parcel.id %>/change-land-parcel">Remove the parcel</a></li>
    </ul>
  </div>

<% end %>

