---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-land" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="editable" contenteditable><%= parcel.name ? parcel.name : "Untitled" %></h1>
    </hgroup>

    <dl class="metadata">
      <dt class="visuallyhidden">Area</dt>
      <dd>Area: <%= parcel.area %>ha</dd>
      <dt class="visuallyhidden">Parcel ID</dt>
      <dd>ID: <%= parcel.id %></dd>
      <dd>Not organic</dd>
    </dl>
  </header>

  <table class="parcel-details">
    <thead>
      <tr>
        <th class="details-land-use">Land use</th>
        <th class="details-area">Area</th>
        <th class="detail-status"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="details-land-use">Crops and grassland</td>
        <td class="details-area">0.00ha</td>
        <td class="edit"></td>
      </tr>
      <tr>
        <td class="details-land-use">Buffer strips</td>
        <td class="details-area">0.00ha</td>
        <td class="edit"></td>
      </tr>
      <tr>
        <td class="details-land-use">Hedges</td>
        <td class="details-area">0.00ha</td>
        <td class="edit"></td>
      </tr>
      <tr>
        <td class="details-land-use">Buildings and structures</td>
        <td class="details-area">0.00ha</td>
        <td class="edit"></td>
      </tr>
      <tr>
        <td class="details-land-use">Other features</td>
        <td class="details-area">0.00ha</td>
        <td class="edit"></td>
      </tr>
      <tr>
        <td class="details-land-use">Unknown</td>
        <td class="details-area"><%= parcel.area %>ha <span class="percentage">100%</span></td>
        <td class="edit"></td>
      </tr>
    </tbody>
  </table>

  <form>
    <div class="form-group">
      <a href="<%= parcel.id %>/organic-status" class="button">Check this land parcel</a>
    </div>
  </form>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Area: <%= parcel.area %>ha</li>
    </ul>

    <ul>
      <li><a href="<%= parcel.id %>/change-land-parcel">Merge or split the parcel</a></li>
      <li><a href="<%= parcel.id %>/change-land-parcel">Change the parcel boundary</a></li>
      <li><a href="<%= parcel.id %>/change-land-parcel">Transfer the parcel to someone else</a></li>
      <li><a href="<%= parcel.id %>/change-land-parcel">Remove the parcel</a></li>
    </ul>
  </div>

<% end %>

