---
title: Rural payments prototype
layout: layout_template_no_nav
---

<% parcel = locals[:parcel] %>

<div class="inner-block">

  <div id="breadcrumb">
    <ol role="breadcrumbs" class="group">
      <li><a href="/"><%= data.business.name %></a></li>
    </ol>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h1 class="editable" contenteditable><%= parcel.name ? parcel.name : "Untitled" %></h1>
          </hgroup>

          <dl class="metadata">
            <dt class="visuallyhidden">Area</dt>
            <dd>Area: <%= parcel.area %>ha</dd>
            <dt class="visuallyhidden">Parcel ID</dt>
            <dd>ID: <%= parcel.id %></dd>
          </dl>
        </header>

        <!--<p class="alert">Reduce your unknown land use to below 20%</p>-->

        <p>
          Check that the details below are correct and add any missing information if you need to.
        </p>

        <table class="parcel-details">
          <thead>
            <tr>
              <th class="details-land-use">Land use</th>
              <th class="details-area">Area</th>
              <th class="detail-status"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="details-land-use">Wheat</td>
              <td class="details-area">10.204ha</td>
              <td class="edit"><a href="<%= parcel.id %>/crops-and-grassland">Edit</a></td>
            </tr>
            <tr>
              <td class="details-land-use">Buffer strips</td>
              <td class="details-area">Unknown</td>
              <td class="edit"><a href="<%= parcel.id %>/buffer-strips">Edit</a></td>
            </tr>
            <tr>
              <td class="details-land-use">Hedges</td>
              <td class="details-area">Unknown</td>
              <td class="edit"><a href="<%= parcel.id %>/hedges">Edit</a></td>
            </tr>
            <tr>
              <td class="details-land-use">Organic status</td>
              <td class="details-area">Not certified</td>
              <td class="edit"><a href="<%= parcel.id %>/crops-and-grassland">Edit</a></td>
            </tr>
          </tbody>
        </table>

        <p class="font-xsmall"><a href="<%= parcel.id %>/add-feature">Add a feature</a></p>

        <br>

        <form>
          <!--
          <div class="form-group">
            <label for="correct-yes" class="block-label">
              <input type="checkbox" name="correct" id="correct-yes" value="yes">
              This information is correct
            </label>
          </div>
        -->
          <div class="form-group">
            <a href="<%= parcel.id %>/organic-status" class="button">Save and return</a>
          </div>

        </form>

      </div>
    </div>
    <%= partial "partial-map-parcel" %>
  </div>
</div>

