---
layout: layout-2-1-columns
---


<% statusClass = (parcel.coverage == 100 ? "done" : "not-done") %>

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-land" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="editable" contenteditable><%= parcel.name ? parcel.name : "Untitled" %></h1>
    </hgroup>
  </header>


  <p>
    Describe the features on this land parcel. All features must be fully defined before you can apply for schemes.
    <a href="">Find out what features you should add</a>.

  </p>


  <table class="features">
    <thead>
      <tr>
        <th class="name">Feature</th>
        <th class="area">Area</th>
        <th class="delete"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/undefined-feature">Undefined feature</a></td>
        <td class="area">0.2ha</td>
        <td class="delete"><a href="/<%= parcel.id %>/delete-feature" title="Remove this feature">Remove</a></td>
      </tr>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/undefined-feature">Undefined feature</a></td>
        <td class="area">0.1ha</td>
        <td class="delete"><a href="/<%= parcel.id %>/delete-feature" title="Remove this feature">Remove</a></td>
      </tr>
    <!--
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/buffer-strips">Buffer strips</a></td>
        <td class="area">1.2ha</td>
        <td class="delete"><a href="/<%= parcel.id %>/delete-feature" title="Remove this feature">Remove</a></td>
      </tr>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/hedges">Hedges</a></td>
        <td class="area">0.5ha</td>
        <td class="delete"><a href="/<%= parcel.id %>/delete-feature" title="Remove this feature">Remove</a></td>
      </tr>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/land-use">Farm building</a></td>
        <td class="area">0.2ha</td>
        <td class="delete"><a href="/<%= parcel.id %>/delete-feature" title="Remove this feature">Remove</a></td>
      </tr>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/land-use">Wheat</a></td>
        <td class="area">1.5ha</td>
        <td class="delete"><a href="/<%= parcel.id %>/delete-feature" title="Remove this feature">Remove</a></td>
      </tr>
    -->

      <tr>
        <td class="name"><a href="/<%= parcel.id %>/land-use">Undefined arable land</a></td>
        <td class="area">5.75ha</td>
        <td class="delete"><a href="/<%= parcel.id %>/delete-feature" title="Remove this feature">Remove</a></td>
      </tr>
      <tr class="totals <%= statusClass %>">
        <td class="name">Total area defined</td>
        <td class="area">0.0ha</td>
        <td class="delete">0%</td>
      </tr>
      <!--
      <tr>
        <td class="name">Total area undefined</td>
        <td class="area">6.05ha</td>
        <td class="delete">100%</td>
      </tr>
    -->
    </tbody>
  </table>

  <p><a href="/<%= parcel.id %>/add-feature">Add another feature</a></p>

<!--
  <p class="alert"><input type="checkbox"> Submit these changes to the RPA for verification</p>
  <p><a class="button">Save changes</a></p>
-->

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Total area: <%= parcel.area %>ha</li>
      <% if (parcel.organic) %><li>Certified organic</li><% end %>
    </ul>

    <ul>
      <li><a href="<%= parcel.id %>/organic-status">Change the organic status of the parcel</a></li>
      <li><a href="<%= parcel.id %>/change-land-parcel">Merge, split or change the parcel boundary</a></li>
      <li><a href="<%= parcel.id %>/change-land-parcel">Transfer the parcel to someone else</a></li>
      <li><a href="<%= parcel.id %>/change-land-parcel">Remove the parcel</a></li>
    </ul>
  </div>

<% end %>

