---
title: Rural payments prototype
layout: layout_template_no_nav
---

<% parcel = data.business.parcels[0] %>

<div class="inner-block">

  <div class="back-link">
    <a href="/">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle"><%= data.business.name %></h2>
            <h1><%= parcel.name %></h1>
          </hgroup>

          <dl class="metadata">
            <dt class="visuallyhidden">Parcel ID</dt>
            <dd>Parcel ID: <%= parcel.id %></dd>
          </dl>
        </header>

        <table class="parcel-details js-row-link">
          <thead>
            <tr class="visuallyhidden">
              <th class="detail-key">Key</th>
              <th class="details-area">Area</th>
              <th class="detail-status">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="detail-key">Certified organic</td>
              <td class="details-area">No</td>
              <td class="edit"><a href="03.1-organic">Edit</a></td>
            </tr>
            <tr class="detail-total">
              <td class="detail-key">Total area</td>
              <td class="details-area"><%= parcel.area %>ha</td>
              <td class="edit"></td>
            </tr>
            <tr>
              <td class="detail-key indented">Crops</td>
              <td class="details-area">0.00ha</td>
              <td class="edit"><a href="03-land-use">Edit</a></td>
            </tr>
            <tr>
              <td class="detail-key indented">Buffer strips</td>
              <td class="details-area">0.00ha</td>
              <td class="edit"><a href="03.2-buffer-strip">Edit</a></td>
            </tr>
            <tr>
              <td class="detail-key indented">Hedges and trees</td>
              <td class="details-area">0.00ha</td>
              <td class="edit"><a href="04-hedges">Edit</a></td>
            </tr>
            <tr>
              <td class="detail-key indented">Buildings and structures</td>
              <td class="details-area">0.00ha</td>
              <td class="edit"><a href="05-buildings-and-features">Edit</a></td>
            </tr>
            <tr>
              <td class="detail-key indented">Unknown</td>
              <td class="details-area"><%= parcel.area %>ha</td>
              <td class="edit"></td>
            </tr>
          </tbody>
        </table>

        <form>
          <div class="form-group">
            <a href="03.1-organic" class="button">Check this land parcel</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-parcel-map" %>
  </div>
</div>

