---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<% parcel = locals[:parcel] %>

<div class="inner-block">

  <div class="back-link">
    <a href="02-parcel-details">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle"><%= data.business.name %>: <%= parcel.name %></h2>
            <h1>Crops and grassland</h1>
          </hgroup>
        </header>

        <p>
          Describe any crops and grassland in the table below.
        </p>

        <form class="form" id="land-use-form">
          <table class="land-use-table">
            <thead>
              <tr>
                <th class="land-use-name">Crop</th>
                <th class="land-use-area">Area</th>
              </tr>
            </thead>
            <tbody>

              <%= partial "partial-land-use-and-area", :locals => { :num=> 1 }%>
              <%= partial "partial-land-use-and-area", :locals => { :num=> 2 }%>
              <%= partial "partial-land-use-and-area", :locals => { :num=> 3 }%>
              <%= partial "partial-land-use-and-area", :locals => { :num=> 4 }%>

            </tbody>
          </table>

          <div class="form-group">
            <a href="buffer-strips" class="button">Save and continue</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-parcel-map" %>
  </div>
</div>

