---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Add trees to a land parcel</h1>
    </hgroup>
  </header>

  <p>
    Mark the trees on the map. You can use the zoom or full-screen controls to help.
  </p>

  <form class="form" id="land-use-form">

    <div class="form-group">
      <a href="add-feature-date" class="button">Continue</a>
    </div>

  </form>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Total area: <%= parcel.area %>ha</li>
    </ul>

  </div>

<% end %>
