---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>


  <header class="page-header">
    <hgroup>
      <h1 class="js-land-use">Undefined</h1>
    </hgroup>
  </header>


  <p class="bold-small">
      Was this added to the land before 2009?
  </p>


  <div class="form-group inline">
    <label for="date-old" class="block-label">
      <input type="radio" name="date" id="date-old" value="yes" class="js-toggle" data-hide="#date-past-details">
      Yes
    </label>
    <label for="date-past" class="block-label">
      <input type="radio" name="date" id="date-past" value="no" class="js-toggle" data-show="#date-past-details">
      No
    </label>
    <div class="panel-indent date js-hidden" id="date-past-details">
      <p>When was this added?
        <span class="form-hint">For example, 25&nbsp; 1&nbsp; 2013. Assume the 1st of the month if you don't know the full date</span>
      </p>
      <div class="form-group">
        <label for="dob-day" class="form-hint">Day</label>
        <input type="text" class="form-control" id="dob-day" value="">
      </div>
      <div class="form-group">
        <label for="dob-month" class="form-hint">Month</label>
        <input type="text" class="form-control" id="dob-month" value="">
      </div>
      <div class="form-group form-group-year">
        <label for="dob-year" class="form-hint">Year</label>
        <input type="text" class="form-control" id="dob-year" value="">
      </div>
    </div>
  </div>

  <div class="form-group">
    <a href="/<%= parcel.id %>/" class="button">Add to land</a>
    <p><a href="/<%= parcel.id %>/add-feature">Back</a></p>
  </div>


<% end %>

<% content_for :column2 do %>

  <%= partial "maps/point" %>
  <%= partial "maps/points" %>
  <%= partial "maps/line" %>
  <%= partial "maps/shape" %>
  <%= partial "maps/hedges" %>
  <%= partial "maps/hedge" %>
  <%= partial "maps/crop" %>

<% end %>
