---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Add a feature to a land parcel</h1>
    </hgroup>
  </header>

  <p>
    How long have these features been on this land?
  </p>

  <form class="form">
    <div class="form-group">
      <label for="date-old" class="block-label">
        <input type="radio" name="date" id="date-old" value="yes">
        For over a year
      </label>
      <label for="date-past" class="block-label">
        <input type="radio" name="date" id="date-past" value="no" class="js-toggle" data-show="#date-past-details">
        For less than a year
      </label>
      <div class="panel-indent date js-hidden" id="date-past-details">

        <div class="form-group">
          <label for="dob-day" class="form-hint">Day</label>
          <input type="text" class="form-control" id="dob-day" value="">
        </div>
        <div class="form-group">
          <label for="dob-month" class="form-hint">Month</label>
          <input type="text" class="form-control" id="dob-month" value="">
        </div>
        <div class="form-group form-group-year">
          <label for="dob-year" class="form-hint">Year</label>
          <input type="text" class="form-control" id="dob-year" value="">
        </div>
      </div>

      <label for="date-future" class="block-label">
        <input type="radio" name="date" id="date-future" value="no">
        These are planned features
      </label>
    </div>

    <div class="form-group">
      <a href="/<%= parcel.id %>" class="button">Continue</a>
    </div>

  </form>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Total area: <%= parcel.area %>ha</li>
    </ul>

  </div>

<% end %>
