---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="js-land-use">Add a land use or feature</h1>
      <!--<h2 class="subtitle js-land-use">Undefined</h2>-->
    </hgroup>
  </header>




  <%= partial "land-use-type/point" %>
  <%= partial "land-use-type/points" %>
  <%= partial "land-use-type/line" %>
  <%= partial "land-use-type/shape" %>
  <%= partial "land-use-type/hedges" %>
  <%= partial "land-use-type/hedge" %>
  <%= partial "land-use-type/crop" %>



    <div class="form-group">
      <label for="notes-details" class="form-label">Additional notes</label>
      <textarea class="form-control full-width" id="notes-details"></textarea>
    </div>

<!--
    <div class="form-group">
      <label class="form-label">Use for:
        <select>
          <option>Ecological Focus Area</option>
          <option>Basic Payment Scheme</option>
          <option>Other scheme</option>
        </select>
      </label>
    </div>
-->

    <div class="form-group">
      <a href="/<%= parcel.id %>/add-feature-date" class="button js-pass-querystring">Continue</a>
      <p><a href="/<%= parcel.id %>/add-feature">Back</a></p>
    </div>


<% end %>

<% content_for :column2 do %>

  <%= partial "maps/point" %>
  <%= partial "maps/points" %>
  <%= partial "maps/line" %>
  <%= partial "maps/shape" %>
  <%= partial "maps/hedges" %>
  <%= partial "maps/hedge" %>
  <%= partial "maps/crop" %>

<!--
  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Total area: <%= parcel.area %>ha</li>
    </ul>

  </div>
-->

<% end %>
