---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Add a feature</h1>
      <h2 class="subtitle js-land-use">Undefined</h2>
    </hgroup>
  </header>

    <div class="form-group">
      <label class="form-label-bold">Size
        <span class="form-hint">For example '2ha', '10m<sup class="font-xsmall">2</sup>' or '7m x 8m'</span>
      </label>
      <input class="form-control form-control-1-4" type="text">
    </div>

    <div class="form-group">
      <h3 class="form-label-bold">Position</h3>
      <p class="content-point form-hint">Mark the feature on the map</p>
      <p class="content-points form-hint">Mark the features on the map</p>
      <p class="content-line form-hint">Mark the start and end points of the feature on the map</p>
      <p class="content-shape form-hint">Mark the outline of the feature on the map</p>


    </div>

    <div class="form-group">
      <a href="/<%= parcel.id %>/" class="button">Save and continue</a>
      <p><a href="/<%= parcel.id %>/add-feature">Back</a></p>
    </div>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Total area: <%= parcel.area %>ha</li>
    </ul>

  </div>

<% end %>
