---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="js-land-use">Add a land use or feature</h1>
    </hgroup>
  </header>

  <%= partial "add-land-use/point", :locals => { :parcel => parcel} %>
  <%= partial "add-land-use/points", :locals => { :parcel => parcel} %>
  <%= partial "add-land-use/line", :locals => { :parcel => parcel} %>
  <%= partial "add-land-use/shape", :locals => { :parcel => parcel} %>
  <%= partial "add-land-use/hedge-draw", :locals => { :parcel => parcel} %>
  <%= partial "add-land-use/crop", :locals => { :parcel => parcel} %>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

<!--
  <%= partial "maps/point" %>
  <%= partial "maps/points" %>
  <%= partial "maps/line" %>
  <%= partial "maps/shape" %>
  <%= partial "maps/hedges" %>
  <%= partial "maps/hedge" %>
  <%= partial "maps/crop" %>
-->

<% end %>
