---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Arable land</h1>
    </hgroup>
  </header>

  <p>What's the arable land used for?</p>

  <p>For example 'wheat', 'corn', etc.</p>

  <form class="form" id="land-use-form">

    <%= partial "partial-land-use-list" %>

    <br><br>

    <div class="form-group">
      <a href="/<%= parcel.id %>/arable-area" class="button">Continue</a>
    </div>
  </form>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

<% end %>
