---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="js-land-use">Land use</h1>
    </hgroup>
  </header>

  <p>Are these crops grown in rotation or at the same time?</p>

    <form class="form">
      <div class="form-group">
        <label for="rotation" class="block-label">
          <input type="radio" name="how-grown" id="rotation" value="rotation" class="js-toggle" data-show="#how-grown-rotation" data-hide="#how-grown-multi">
          They're grown in rotation
        </label>
        <label for="multi" class="block-label">
          <input type="radio" name="how-grown" id="multi" value="multi" class="js-toggle" data-hide="#how-grown-rotation" data-show="#how-grown-multi">
          They're grown at the same time
        </label>
      </div>
    </form>


    <div class="form-group" id="how-grown-multi">
      <a href="/<%= parcel.id %>/edit-feature?land-use=Winter Rye, Spring oats&land-use-type=crop-multi" class="button">Continue</a>
    </div>

    <div class="form-group js-hidden" id="how-grown-rotation">
      <a href="/<%= parcel.id %>/edit-feature?land-use=Winter Rye, Spring oats&land-use-type=crop-rotation" class="button">Continue</a>
    </div>


<% end %>


<% content_for :column2 do %>

<div class="map-wrapper">
  <div class="map">
    <%= partial "partial-map-controls" %>
    <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
  </div>
</div>

<% end %>
