---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="js-land-use">Undefined</h1>
      <span class="change-feature-type"><a href="/<%= parcel.id %>/edit-feature-type" class="js-pass-querystring">Change</a></span>
    </hgroup>
  </header>

  <%= partial "edit-land-use/point", :locals => { :parcel => parcel} %>
  <%= partial "edit-land-use/points", :locals => { :parcel => parcel} %>
  <%= partial "edit-land-use/line", :locals => { :parcel => parcel} %>
  <%= partial "edit-land-use/shape", :locals => { :parcel => parcel} %>
  <%= partial "edit-land-use/hedge", :locals => { :parcel => parcel} %>
  <%= partial "edit-land-use/crop", :locals => { :parcel => parcel} %>
  <%= partial "edit-land-use/crop-multi", :locals => { :parcel => parcel} %>


<% end %>

<% content_for :column2 do %>

  <%= partial "maps/point" %>
  <%= partial "maps/points" %>
  <%= partial "maps/line" %>
  <%= partial "maps/shape" %>
  <%= partial "maps/hedge" %>
  <%= partial "maps/crop" %>
  <%= partial "maps/crop-multi" %>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Total area: <%= parcel.area %>ha</li>
    </ul>

  </div>

<% end %>
