---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="js-land-use">Change feature type</h1>
    </hgroup>
  </header>

  <form class="form" id="land-use-form" name="land-use-form" method="get" action="/<%= parcel.id %>/edit-feature">
    <div class="form-group">
      <p class="form-label">What is this land used for?


        <span class="content-shape form-hint">For example 'Pond', 'Trees' or 'Farmyard'</span>
        <span class="content-line form-hint">For example 'Stone wall', or 'Hedge'</span>
        <span class="content-crop form-hint">For example 'Wheat', 'Barley' or 'Maize'</span>

      </p>

      <!-- <%= partial "partial-land-use-and-features-list" %> -->

      <table class="multi-use-list">
        <%= partial "partial-land-use-and-feature-multi" %>
      </table>

    </div>

    <div class="form-group" id="single-use">
      <input type="submit" class="button" value="Continue">
    </div>

    <div class="form-group js-hidden" id="multi-use">
      <a href="edit-feature-multi-use" class="button">Continue</a>
    </div>
  </form>






<% end %>


<% content_for :column2 do %>

  <%= partial "maps/point" %>
  <%= partial "maps/points" %>
  <%= partial "maps/line" %>
  <%= partial "maps/shape" %>
  <%= partial "maps/hedges" %>
  <%= partial "maps/hedge" %>
  <%= partial "maps/crop" %>

<% end %>
