---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>


  <header class="page-header">
    <hgroup>
      <h1 class="js-land-use">Undefined</h1>
    </hgroup>
  </header>


  <p class="form-label">
      When was this change made?
      <span class="form-hint">If it was before 15 May 2013 just give the month and year</span>
  </p>



  <div class="date">
    <div class="form-group">
      <label for="dob-day" class="form-hint">Day</label>
      <input type="text" class="form-control" id="dob-day" value="">
    </div>
    <div class="form-group">
      <label for="dob-month" class="form-hint">Month</label>
      <input type="text" class="form-control" id="dob-month" value="">
    </div>
    <div class="form-group form-group-year">
      <label for="dob-year" class="form-hint">Year</label>
      <input type="text" class="form-control" id="dob-year" value="">
    </div>
  </div>

  <div class="form-group">
    <a href="/<%= parcel.id %>/" class="button">Save and return</a>
    <p><a href="/<%= parcel.id %>/edit-feature">Back</a></p>
  </div>


<% end %>

<% content_for :column2 do %>

  <%= partial "maps/point" %>
  <%= partial "maps/points" %>
  <%= partial "maps/line" %>
  <%= partial "maps/shape" %>
  <%= partial "maps/hedges" %>
  <%= partial "maps/hedge" %>
  <%= partial "maps/crop" %>

<% end %>
