---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

        <div class="back-link">
          <a href="#">Back</a>
        </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">



        <header class="page-header">
          <hgroup>
            <h2 class="subtitle"><%= data.business.name %></h2>
            <h1>Land parcels</h1>
          </hgroup>

          <dl class="metadata">
            <dt class="visuallyhidden">Land use defined</dt>
            <dd>Land use defined: <a href="#land-use-details" class="js-toggle" data-hide="#efa-details"><%= data.business.land_use %>%</a></dd>

            <dt class="visuallyhidden">EFA coverage</dt>
            <dd>EFA: <a href="#efa-details" class="js-toggle" data-hide="#land-use-details"><%= data.business.efa %>%</a></dd>
          </dl>

          <p id="land-use-details" class="js-hidden panel-indent font-xsmall">
              You need to have defined at least 80% of your total area before you can qualify for a greening payment.
              <br><br>
              <a href="#land-use-details" class="js-toggle" data-hide="#efa-details">Close</a>
          </p>

          <p id="efa-details" class="js-hidden panel-indent font-xsmall">
              At least 5% of your land must be designated as ecological focus areas (EFAs) before you can qualify for a greening payment. <a href="">Find out more</a>.
              <br><br>
              <a href="#efa-details" class="js-toggle" data-hide="#land-use-details">Close</a>
          </p>

        </header>


<!--
        <div class="coverage-chart">
          <div class="area total-area">
            <div class="area declared-area">
              <div class="area efa-area">
              </div>
            </div>
          </div>
        </div>

      -->

        <p class="alert">
          Check all your land parcels before applying for any schemes.
        <p>


        <table class="parcels js-row-link">
          <thead>
            <tr>
              <th class="parcel-name">Parcel</th>
              <th class="parcel-id">ID</th>
              <th class="parcel-area">Area</th>
              <th class="parcel-status">Checked</th>
            </tr>
          </thead>
          <tbody>

            <% data.business.parcels.each do |f| %>
            <% statusClass = (f.checked ? "checked" : "not-checked") %>
            <% statusName = (f.checked ? "Yes" : "No") %>
            <tr class="<%= statusClass %>">
              <td class="parcel-name">
                <a href="02-parcel-details">
                  <% if f.name %>
                    <%= f.name %>
                  <% else %>
                    Untitled
                  <% end %>
                </a>
              </td>
              <td class="parcel-id"><%= f.id %></td>
              <td class="parcel-area"><%= f.area %>ha</td>
              <td class="parcel-status"><%= statusName %></td>
            </tr>
            <% end %>

          </tbody>
        </table>

        <div class="form-group">
          <a href="02-parcel-details" class="button">Check land parcels</a>
        </div>

      </div>
    </div>
    <%= partial "partial-business-map" %>

  </div>
</div>

