---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

        <div class="back-link">
          <a href="#">Back</a>
        </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">



        <header class="page-header">
          <hgroup>
            <h2 class="subtitle"><%= data.business.name %></h2>
            <h1>Land parcels</h1>
          </hgroup>
        </header>


<!--
        <div class="coverage-chart">
          <div class="area total-area">
            <div class="area declared-area">
              <div class="area efa-area">
              </div>
            </div>
          </div>
        </div>

      -->

        <p>
          Update all your land parcels before applying for any schemes.
          Select a parcel from the list to update it.
        <p>

        <table class="parcels js-row-link">
          <thead>
            <tr>
              <th class="parcel-name">Parcel</th>
              <th class="parcel-id">ID</th>
              <th class="parcel-area">Area</th>
              <th class="parcel-status">Updated</th>
            </tr>
          </thead>
          <tbody>

            <% data.business.parcels.each do |f| %>
            <tr>
              <td class="parcel-name">
                <a href="02-parcel-details">
                  <% if f.name %>
                    <%= f.name %>
                  <% else %>
                    Untitled
                  <% end %>
                </a>
              </td>
              <td class="parcel-id"><%= f.id %></td>
              <td class="parcel-area"><%= f.area %>ha</td>
              <td class="parcel-status not-updated">No</td>
            </tr>
            <% end %>

          </tbody>
        </table>

      </div>
    </div>
    <%= partial "partial-business-map" %>

  </div>
</div>

