---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Undefined arable land</h1>
    </hgroup>
  </header>

  <p>What is this land used for?</p>

  <form class="form" id="land-use-form">
    <table class="land-use-table">
      <thead>
        <tr>
          <th class="land-use-name">Land use (eg. 'Wheat' or 'Corn')</th>
          <th class="land-use-area">Area</th>
        </tr>
      </thead>
      <tbody>

        <%= partial "partial-land-use-and-area" %>

      </tbody>
    </table>

    <div class="form-group">
      <a href="/<%= parcel.id %>/" class="button">Continue</a>
    </div>
  </form>

<% end %>

<% content_for :column2 do %>
  <div class="font-xsmall">
    <p>Parcel area: 5ha (2.3ha undefined)</p>
  </div>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Total area: <%= parcel.area %>ha (2.3ha undefined)</li>
      <% if (parcel.organic) %><li>Certified organic</li><% end %>
    </ul>
  </div>

<% end %>
