---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-business" %>
<% end %>

<% content_for :column1 do %>

 <header class="page-header">
    <hgroup>
      <h1>Check land details</h1>
    </hgroup>
  </header>

  <p>Check the land parcels to make sure they show the land as it will be on 12 May 2015 (this is the date that scheme payments are based on).</p>

  <div class="table-filter">
    <label>Search the list</label> <input type="search" placeholder="Enter parcel name, ID, CPH number etc."> <!--<span>(enter parcel name, ID, CPH number etc.)</span>-->
  </div>

  <table class="parcels js-row-link">
    <thead>
      <tr>
        <th class="parcel-name">Name</th>
        <th class="parcel-id">ID</th>
        <th class="parcel-area">Area</th>
        <th class="parcel-status">Checked</th>
      </tr>
    </thead>
    <tbody>

<% for i in 1..90 do %>

      <% data.business.parcels.each do |f| %>
      <% statusClass = (f.complete ? "done" : "not-done") %>
      <% statusName = (f.complete ? "Done" : "Not done") %>
      <tr class="<%= statusClass %>">
        <td class="parcel-name">
          <a href="/<%= f.id %>">
            <%= (f.name ? f.name : "Untitled") %>
          </a>
        </td>
        <td class="parcel-id"><%= f.id %></td>
        <td class="parcel-area"><%= f.area %>ha</td>
        <td class="parcel-status"><span class="tag"><%= statusName %></span></td>
      </tr>
      <% end %>

<% end %>


    </tbody>
  </table>

  <p></p>

<% end %>

<% content_for :column2 do %>

  <div class="js-stick-at-top-when-scrolling">

  <%= partial "partial-map", :locals => { :map => 'business-1-checked'} %>

  <div class="font-xsmall">
    <h2 class="heading-small">Land details</h2>

    <ul>
      <li>Area: <%= data.business.area %>ha</li>
      <li>SBI: <%= data.business.sbi %></li>
    </ul>

    <ul>
      <li><a href="add-land">Add land</a></li>
      <li><a href="remove-land">Remove land</a></li>
    </ul>
  </div>

  </div>

<% end %>
