---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Arable land</h1>
    </hgroup>
  </header>

  <form class="form">

    <div class="form-group">
      <p class="form-label">What is this land used for?
        <span class="form-hint">For example 'Wheat', 'Corn' or 'Maize'</span>
      </p>
      <%= partial "partial-land-use-list" %>
    </div>

    <div class="form-group">
      <label class="form-label">Land use area
        <span class="form-hint">Tip: the area of the parcel minus the features on it is 5.85ha</span>
      </label>
      <input class="form-control form-control-1-8" type="text" value="5.75"> ha
    </div>

    <div class="form-group">
      <a href="/<%= parcel.id %>/?changed=true" class="button">Save and continue</a>
    </div>

  </form>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Total area: <%= parcel.area %>ha</li>
      <% if (parcel.organic) %><li>Certified organic</li><% end %>
    </ul>
  </div>

<% end %>
