---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Undefined arable land</h1>
    </hgroup>
  </header>

  <form class="form">

    <div class="form-group">
      <p class="form-label-bold">Land use
        <span class="form-hint">For example 'Wheat', 'Corn' or 'Maize'</span>
      </p>
      <%= partial "partial-land-use-list" %>
    </div>

    <div class="form-group">
      <label class="form-label-bold">Area
        <span class="form-hint">There is 2.3ha of undefined land on this parcel</span>
      </label>
      <input class="form-control form-control-1-8" type="text" value="2.1"> ha
    </div>

    <div class="form-group">
      <a href="/<%= parcel.id %>/" class="button">Save and continue</a>
    </div>

  </form>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Total area: <%= parcel.area %>ha (2.3ha undefined)</li>
      <% if (parcel.organic) %><li>Certified organic</li><% end %>
    </ul>
  </div>

<% end %>
