---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>What other features does this land parcel contain?</h1>
    </hgroup>
  </header>

  <p>Include things like buildings, trees and unused land.</p>

    <div class="form-group">
      <%= partial "partial-land-use-and-features-list" %>
    </div>

    <p class="text-small"><a href="">Add another</a></p>

    <div class="form-group">
      <a href="/<%= parcel.id %>/land-use" class="button">Continue</a>
    </div>
  </form>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

<% end %>
