---
layout: layout-2-1-columns
---


<% statusClass = (parcel.coverage == 100 ? "done" : "not-done") %>

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-land" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="editable" contenteditable><%= parcel.name ? parcel.name : "Untitled" %></h1>
    </hgroup>
  </header>

  <p>
    Describe the land uses and features on this land.
  </p>

  <table class="table feature-list">
    <thead>
      <tr>
        <th class="name">Land uses and features</th>
        <th class="cover"></th>
        <th class="area">Area</th>
        <th class="remove"></th>
      </tr>
    </thead>
    <tbody>
      <% if (parcel.features) %>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/edit-feature?land-use=Pond&land-use-type=shape">Pond</a></td>
        <td class="cover">Ineligible for BPS</td>
        <td class="area">0.1ha</td>
        <td class="remove"><a href="/<%= parcel.id %>/remove-feature?land-use=Pond&land-use-type=shape" title="Remove this feature">Remove</a></td>
      </tr>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/edit-feature?land-use=Hard+standings&land-use-type=shape">Hard standings</a></td>
        <td class="cover">Ineligible for BPS</td>
        <td class="area">0.1ha</td>
        <td class="remove"><a href="/<%= parcel.id %>/remove-feature?land-use=Hard+standings&land-use-type=shape" title="Remove this feature">Remove</a></td>
      </tr>
      <% end %>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/edit-feature-type?land-use=Arable+land&land-use-type=crop">Arable land</a></td>
        <td class="cover"><span class="warning-icon">!</span>Unknown land use</td>
        <td class="area">5.75ha</td>
        <td class="remove"><a href="/<%= parcel.id %>/remove-feature?land-use=Arable+land&land-use-type=crop" title="Remove this feature">Remove</a></td>
      </tr>
<!--
      <tr class="totals">
        <td class="name">Total area described:</td>
        <td>5.95ha &nbsp; 0.1ha remaining</td>
        <td class="area"></td>
        <td class="remove"></td>
      </tr>-->
    </tbody>
  </table>

  <p><%= parcel.areadescribed %>ha described, 0.1ha remaining</p>

  <div class="form-group">


    <p><a href="/<%= parcel.id %>/add-feature">Add a land use or feature</a></p>

    <label class="form-label block-label">
      <input type="checkbox"> This information is accurate
    </label>
  </div>

  <div class="form-group">
    <a href="/land" class="button">Save and return</a>
  </div>


<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map map-parcel">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel-with-features.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Total area: <%= parcel.area %>ha</li>
      <li>Status: <a class="js-toggle parcel-status-link" href="#status-help-draft">Unverified</a>
        <p class="js-hidden" id="status-help-draft">
          Confirm that the information is accurate to submit it to the Rural Payments Agency for verification.
        </p>
      </li>
      <% if (parcel.organic) %><li>Certified organic</li><% end %>
    </ul>

    <ul>
      <li><a href="/<%= parcel.id %>/organic-status">Change the organic status of the parcel</a></li>
      <li><a href="/<%= parcel.id %>/change-land-parcel">Transfer the parcel to someone else</a></li>
      <li><a href="/<%= parcel.id %>/split-parcel">Split the parcel in two</a></li>
      <li><a href="/<%= parcel.id %>/change-land-parcel">Remove the parcel</a></li>
    </ul>
  </div>

<% end %>

