---
layout: layout-2-1-columns
---

<%

# Calculate areas

definedArea = 0
eligibleArea = 0
if parcel.uses
  parcel.uses.each do |f|
    definedArea += f.area if f.area
    eligibleArea += f.area if f.bps and f.area
  end
end
definedArea = definedArea.round(2)
eligibleArea = eligibleArea.round(2)
unknownArea = (parcel.area - definedArea).round(2)

if (unknownArea < 0)
  totalArea = definedArea
  tooBig = true
else
  totalArea = parcel.area
end

%>

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-land" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="editable" contenteditable><%= parcel.name ? parcel.name : "Untitled" %></h1>
    </hgroup>

    <span class="secondary-text">Area: <%= parcel.area %>ha</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="secondary-text">ID: <%= parcel.id %></span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="secondary-text">Not organic &nbsp;<a href="#" class="font-xsmall">Edit</a></span>

  </header>

  <p>
    List the land uses and features on this land parcel.
  </p>


  <p class="error-missing-land-uses warning-text"><span class="warning-icon">!</span>Enter any missing information before saving</p>


  <% if parcel.uses %>

  <table class="table feature-list">
    <thead>
      <tr>
        <th class="name">Land uses and features</th>
        <th class="cover"></th>
        <th class="area">Area</th>
        <th class="remove"></th>
      </tr>
    </thead>
    <tbody>

      <% parcel.uses.each do |f| %>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/edit-feature<%= "-type" unless f.use %>?land-use=<%= f.use ? f.use : f.cover %>&land-use-type=<%= f.type %>"><%= f.use ? f.use : f.cover %></a></td>
        <td class="cover">

          <% if !f.use %>
            <span class="warning">
              <span class="warning-icon">!</span>
              <a href="/<%= parcel.id %>/edit-feature-type?land-use=<%= f.use ? f.use : f.cover %>&land-use-type=<%= f.type %>">More information required</a>
            </span>
          <% elsif f.area == 0.00 %>

            <span class="warning">
              <span class="warning-icon">!</span>
              <a href="/<%= parcel.id %>/edit-feature?land-use=<%= f.use ? f.use : f.cover %>&land-use-type=<%= f.type %>">More information required</a>
            </span>

          <!--
            <% if f.efa %>
              Eligible for BPS and EFA
            <% elsif f.bps %>
              Eligible for BPS
            <% else %>
              Not eligible for BPS
            <% end %>
        -->

          <% end %>
        </td>
        <td class="area">
          <% if f.area %>
            <%= f.area %>ha
          <% elsif %>
              n/a
          <% end %>
        </td>
        <td class="remove"><a href="/<%= parcel.id %>/remove-feature?land-use=<%= f.use %>&land-use-type=<%= f.type %>" title="Remove this feature">Remove</a></td>
      </tr>
      <% end %>

      <% if unknownArea > 0 %>
      <tr>
        <td class="name">Unknown</td>
        <td class="cover"></td>
        <td class="area"><%= unknownArea %>ha</td>
        <td class="remove"></td>
      </tr>
      <% end %>

      <tr class="totals">

      <% if  parcel.uses.size > 1 %>

        <td class="name">Total area</td>
        <td class="cover">
          <% if tooBig %>
            <span class="warning"><span class="warning-icon">!</span>Exceeds parcel area by <%= unknownArea * -1 %>ha</span>
          <% end %>
        </td>
        <td class="area<%= ' warning-text' if tooBig %>"><%= totalArea %>ha</td>
        <td class="remove"></td>
      </tr>
      <!--
      <tr>
        <td class="name" colspan="2">Total eligible area</td>
        <td class="area"><%= eligibleArea %>ha</td>
        <td class="remove"></td>
      </tr>
      -->


      <% end %>

    </tbody>
  </table>

  <% end %>

  <div class="form-group">

    <a href="/<%= parcel.id %>/add-feature">Add a land use or feature</a>

  </div>


  <% if parcel.uses %>
    <div class="form-group">
      <label class="form-label block-label">
        <input type="checkbox"> Tick this box when this information is complete and correct
      </label>
    </div>
  <% end %>



  <div class="form-group">
    <a href="/land" class="button">Save and return</a>
    <p><a href="/land">Back</a></p>
  </div>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map map-parcel">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel-with-features.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <% if (parcel.checked) %><h2 class="heading-small">Parcel status</h2><% end %>

    <ul><!--
      <li>Parcel area: <%= parcel.area %>ha</li>
      <li>Parcel ID: <%= parcel.id %></li>
    -->
      <% if (parcel.checked) %><li>Checked by you on 12 Dec 2014</li><% end %>
      <% unless (parcel.verified) %><li>Awaiting verification by the RPA</li><% end %>
      <!--<li>Region: <%= parcel.region %></li>
      <li>Certified organic: <a href="/<%= parcel.id %>/organic-status">No</a></li>
      <li>Status: <a class="js-toggle parcel-status-link" href="#status-help-draft">Unverified</a>
        <p class="js-hidden secondary-text" id="status-help-draft">
          Save the parcel to submit it to the Rural Payments Agency for verification.
        </p>
      </li>
      <% if (parcel.organic) %><li>Certified organic</li><% end %>-->
    </ul>

    <h2 class="heading-small">Parcel actions</h2>

    <ul class="list-bullet">
      <li><a href="/<%= parcel.id %>/change-land-parcel">Split, merge or edit shape</a></li>
      <li><a href="/<%= parcel.id %>/transfer-land-parcel">Transfer to another business</a></li>
      <li><a href="/<%= parcel.id %>/remove-land-parcel">Remove from agricultural use</a></li>
    </ul>
  </div>

<% end %>

