---
layout: layout-2-1-columns
---


<% statusClass = (parcel.coverage == 100 ? "done" : "not-done") %>

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-land" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="editable" contenteditable><%= parcel.name ? parcel.name : "Untitled" %></h1>
    </hgroup>
  </header>

  <div class="form-group">
    <p class="form-label">What is this land used for?
      <span class="form-hint">For example, 'Wheat' or 'Barley'</span>
    </p>
    <%= partial "partial-land-use-list" %>
  </div>

  <div class="form-group">
    <label class="form-label">What is the area of this land use?
      <span class="form-hint">Tip: the parcel area minus the features is 2.3ha</span>
    </label>
    <input class="form-control form-control-1-8" type="text" value="2.1"> ha
  </div>

<!--
  <p>
    <a href="/<%= parcel.id %>/add-feature">Add another land use</a>
  </p>
-->

  <div class="form-group">
    <a href="/parcel-details-uses" class="button">Save and continue</a>
  </div>


<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map map-parcel">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel-with-features.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>

    </ul>
  </div>

<% end %>

