---
layout: layout-2-1-columns
---


<% statusClass = (parcel.coverage == 100 ? "done" : "not-done") %>

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-land" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="editable" contenteditable><%= parcel.name ? parcel.name : "Untitled" %></h1>
    </hgroup>
  </header>

  <p>
    List the features on this land. Include things like buildings, ponds, trees, hedges and buffer strips.
  </p>


  <table class="table feature-list">
    <thead>
      <tr>
        <th class="name">Feature</th>
        <th class="cover">Cover</th>
        <th class="area">Area</th>
        <th class="remove"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/edit-feature?land-use=Pond&land-use-type=shape">Pond</a></td>
        <td class="cover">Water</td>
        <td class="area">0.1ha</td>
        <td class="remove"><a href="/<%= parcel.id %>/remove-feature?land-use=Pond&land-use-type=shape" title="Remove this feature">Remove</a></td>
      </tr>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/edit-feature?land-use=Mixed+woodland&land-use-type=shape">Mixed woodland</a></td>
        <td class="cover">Woodland</td>
        <td class="area">0.1ha</td>
        <td class="remove"><a href="/<%= parcel.id %>/remove-feature?land-use=Mixed+woodland" title="Remove this feature">Remove</a></td>
      </tr>
    </tbody>
  </table>

  <p>
    <br>
    <a href="/<%= parcel.id %>/add-feature">Add a feature</a>
  </p>

  <div class="form-group">
    <a href="/<%= parcel.id %>/parcel-details-uses" class="button">Save and continue</a>
  </div>


<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map map-parcel">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel-with-features.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Status: <a class="js-toggle parcel-status-link" href="#status-help-draft">Unverified</a>
        <p class="js-hidden" id="status-help-draft">
          This parcel has unverified changes.
          Save the parcel to submit the changes to the Rural Payments Agency for verification.
        </p>
      </li>
      <% if (parcel.organic) %><li>Certified organic</li><% end %>
    </ul>

    <ul>
      <li><a href="/<%= parcel.id %>/organic-status">Change the organic status of the parcel</a></li>
      <li><a href="/<%= parcel.id %>/change-land-parcel">Transfer the parcel to someone else</a></li>
      <li><a href="/<%= parcel.id %>/split-parcel">Split the parcel in two</a></li>
      <li><a href="/<%= parcel.id %>/change-land-parcel">Remove the parcel</a></li>
    </ul>
  </div>

<% end %>

