---
layout: layout-2-1-columns
---

<%

# Calculate areas

definedArea = 0
eligibleArea = 0
if parcel.uses
  parcel.uses.each do |f|
    definedArea += f.area
    eligibleArea += f.area if f.bps
  end
end
definedArea = definedArea.round(2)
eligibleArea = eligibleArea.round(2)
unknownArea = (parcel.area - definedArea).round(2)

if (unknownArea < 0)
  totalArea = definedArea
  tooBig = true
else
  totalArea = parcel.area
end

%>

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-land" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1 class="editable" contenteditable><%= parcel.name ? parcel.name : "Untitled" %></h1>
    </hgroup>
  </header>

  <p>
    Describe the land uses and features on this land.
  </p>

  <% if parcel.uses %>

  <table class="table feature-list">
    <thead>
      <tr>
        <th class="name">Land uses and features</th>
        <th class="cover"></th>
        <th class="area">Area</th>
        <th class="remove"></th>
      </tr>
    </thead>
    <tbody>

      <% parcel.uses.each do |f| %>
      <tr>
        <td class="name"><a href="/<%= parcel.id %>/edit-feature<%= "-type" unless f.use %>?land-use=<%= f.use ? f.use : f.cover %>&land-use-type=<%= f.type %>"><%= f.use ? f.use : f.cover %></a></td>
        <td class="cover">
          <% if !f.use %>
            <span class="warning">
              <span class="warning-icon">!</span>
              <a href="/<%= parcel.id %>/edit-feature-type?land-use=<%= f.use ? f.use : f.cover %>&land-use-type=<%= f.type %>">Describe the land use</a>
            </span>
          <% else %>

            <% if f.efa %>
              Eligible for BPS and EFA
            <% elsif f.bps %>
              Eligible for BPS
            <% else %>
              Ineligible for BPS
            <% end %>

          <% end %>
        </td>
        <td class="area"><%= f.area %>ha</td>
        <td class="remove"><a href="/<%= parcel.id %>/remove-feature?land-use=<%= f.use %>&land-use-type=<%= f.type %>" title="Remove this feature">Remove</a></td>
      </tr>
      <% end %>

      <% if unknownArea > 0 %>
      <tr>
        <td class="name">Unknown</td>
        <td class="cover"></td>
        <td class="area"><%= unknownArea %>ha</td>
        <td class="remove"></td>
      </tr>
      <% end %>

      <tr class="totals">

      <% if  parcel.uses.size > 1 %>

        <td class="name">Total area</td>
        <td class="cover">
          <% if tooBig %>
            <span class="warning"><span class="warning-icon">!</span>Exceeds parcel area by <%= unknownArea * -1 %>ha</span>
          <% end %>
        </td>
        <td class="area<%= ' warning-text' if tooBig %>"><%= totalArea %>ha</td>
        <td class="remove"></td>
      </tr>
      <tr>

      <% end %>

        <td class="name">Total eligible area</td>
        <td class="cover"></td>
        <td class="area"><%= eligibleArea %>ha</td>
        <td class="remove"></td>
      </tr>
    </tbody>
  </table>

  <% end %>

  <div class="form-group">


    <p><a href="/<%= parcel.id %>/add-feature">Add a land use or feature</a></p>


  <% if parcel.uses %>
    <label class="form-label block-label">
      <input type="checkbox"> This information is accurate
    </label>
  <% end %>


  </div>

  <div class="form-group">
    <a href="/land" class="button">Save and return</a>
  </div>


<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map map-parcel">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel-with-features.png") %>">
    </div>
  </div>

  <div class="font-xsmall">
    <h2 class="heading-small">Land parcel details</h2>

    <ul>
      <li>Parcel area: <%= parcel.area %>ha</li>
      <li>Parcel ID: <%= parcel.id %></li>
      <li>Region: <%= parcel.region %></li>
      <li>Status: <a class="js-toggle parcel-status-link" href="#status-help-draft">Unverified</a>
        <p class="js-hidden" id="status-help-draft">
          Confirm that the information is accurate to submit it to the Rural Payments Agency for verification.
        </p>
      </li>
      <% if (parcel.organic) %><li>Certified organic</li><% end %>
    </ul>

    <ul>
      <li><a href="/<%= parcel.id %>/organic-status">Change the organic status of the parcel</a></li>
      <li><a href="/<%= parcel.id %>/change-land-parcel">Transfer the parcel to someone else</a></li>
      <li><a href="/<%= parcel.id %>/split-parcel">Split the parcel in two</a></li>
      <li><a href="/<%= parcel.id %>/change-land-parcel">Remove the parcel</a></li>
    </ul>
  </div>

<% end %>

