---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Remove feature</h1>
      <h2 class="subtitle js-land-use">Undefined</h2>
    </hgroup>
  </header>

  <p>Are you sure you want to remove this feature?</p>

  <form class="form" id="land-use-form">

    <div class="form-group inline">
      <label for="delete-yes" class="block-label">
        <input type="radio" name="delete" id="delete-yes" value="yes" class="js-toggle" data-show="#remove-yes">
        Yes
      </label>
      <label for="delete-no" class="block-label">
        <input type="radio" name="delete" id="delete-no" value="no" class="js-toggle" data-hide="#remove-yes">
        No
      </label>

      <div class="panel-indent js-hidden" id="remove-yes">
        <!--
        <p class="form-label">What has this feature been replaced with?
          <span class="form-hint">For example 'Wheat', 'Corn' or 'Hard standings'</span>
        </p>
        <%= partial "partial-land-use-and-features-list" %>
        -->

        <p>Remember to update the land parcel with information about what this feature has been replaced with.</p>

      </div>

    </div>



    <div class="form-group">
      <a href="/<%= parcel.id %>/" class="button">Save and return</a>
    </div>
  </form>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/feature-pond.png") %>">
    </div>
  </div>

<% end %>
