---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Undefined feature</h1>
    </hgroup>
  </header>

    <p>You can reposition this feature by dragging it on the map.<br>
        <a href="">Delete this feature</a>

    </p>




    <div class="form-group">
      <p class="form-label">Name of feature
        <span class="form-hint">For example 'Pond', 'Tree' or 'Farmyard'</span>
      </p>
      <%= partial "partial-land-use-and-features-list" %>
    </div>

    <div class="form-group">
      <label class="form-label">Size of feature
      </label>
      <input class="form-control form-control-1-8" type="text" value="2.1"> ha
    </div>



    <div class="form-group">
      <a href="/<%= parcel.id %>/" class="button">Continue</a>
    </div>
  </form>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/feature-pond.png") %>">
    </div>
  </div>

<% end %>
